name: Build ILRepack

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - uses: nuget/setup-nuget@v1
      - run: nuget restore GithubAction.sln
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
        with:
          msbuild-architecture: x64
      - run: msbuild GithubAction/GithubAction.csproj -t:rebuild -verbosity:diag -property:Configuration=Release
